<!DOCTYPE html>
<html class="js" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page not found - Strategy Hut</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/fonts.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/wiso.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/menu-item-item.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/headings.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css?v2"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightgallery.min.css"/>
    <link rel="icon" href="{{ site.baseurl }}/assets/images/cropped-cropped-fx_favicon-1-1-32x32.png" sizes="32x32">

</head>
<body class="error404">
<!-- MAIN_WRAPPER -->


<div class="main-wrapper ">
    <div class="header_top_bg only_logo  enable_fixed header_trans-fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header class="top-menu">
                        <!-- LOGO -->
                         <!-- 
                                               <a href="/" class="logo"><img src="https://res.cloudinary.com/strategyhut/image/upload/q_auto/v1576680438/JuneWisse/logos/JUNE_LOGO_la3fsr.svg" width="200" /></a>
                                               -->

                        <!-- /LOGO -->
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padd error-height">
        <div class="hero-inner bg-cover full-height-window  s-back-switch">
           
            <div class="fullheight text-center ">
                <div class="vertical-align">
                    <h1 class="bigtext" style="color: #222">404</h1>
                    <h3 class="title bold font-1" style="color: #222">Page not found</h3>
                    <h6 class="subtitle" style="color: #222">we can’t find the page your are looking for</h6>
                    <a href="/" class=" a-btn-4" style="color: #222">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/foxlazy.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/lightgallery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/imagesloaded.min.js"></script>
</body>
</html>