---
layout: jwblogdetail
---

  <div id="container">
      <div class="page page-hasPanelledSections" 
      view-controller="WorkSingle" page-url="https://www.news.strategyhut.com"
      >



  <section class="section-workLanding">
      <div class="overlayTop">
        <div class="cont">
          
<div class="introductionText">
  <div class="introductionTextCont">
          <h1>
                  <a href="/" style="color: #ffff"><span style="color: #ffff"></span>
                Back to News
                  </a>
              </h1>
              <h2>
        
      </h2>
          </div>
</div>
        </div>
      </div>
      <div class="overlayBottom">
        <div class="cont">
         
         
        </div>
      </div>
              <div class="imageBackground">


                <div class="video-overlay"></div>

                <div class="imageContent imageContent-dark">
                  <div class="videoContent">
                        <video  width="1500" height="844" tabindex="0" preload="auto" loop muted playsinline>
                            <source src="https://res.cloudinary.com/strategyhut/video/upload/q_auto/v1582200284/ATIGS-2018-Highlight-Video_cbmyla.mp4" type="video/mp4" />
                           
                        </video>
                    </div>
                </div>

              </div>


          </section>


                <section class="section-workRow section-workRow-images_text section-panelBg section-workRow-odd section-hasFixedEls">
        <div class="cont">
                      <div class="cols cols-margin-wide">
              <div class="col col-2-3 elToFix">

                <div class="textContent">

                  <h3><p>{% if page.title %}{{ page.title }}{% else %}{% endif %}</p></h3>

                   {{ content }}

                 </div>
                      </div>
              <div class="col col-1-3 elToFix">
               
                <div class="textContent">
                    
                              <div class="imageContent imageContent-inline">
                            <img src="{{page.image}}" width="3608" height="2056" />
                    </div>
                   

                </div>
                
              </div>
            </div>
                  </div>
      </section>
                
               
                
               
                
                
              
    
      
      </div>
  </div>











                    
