---
layout: todoblogdetail
---





    <div class="blog__header">
        <div class="blog__header-container">
            <div class="blog__header-title">


                <h1 class="blog__header-title">{% if page.title %}{{ page.title }}{% else %}{% endif %}</h1>
            </div>
            <div class="blog__header-info">
                <div class="blog__header-date">{{ page.date | date: "%B %-d, %Y" }}</div>
                <div class="blog__header-links">
                    <ul class="blog__header-link-list">
                                <li class="blog__header-link-item"><a href="">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
   
<div class="rta">
 {{ content }}
</div>  











                    
